/*yeah idk what im putting for css, start with based off of prev proj and tweak as I please i guess*/
/*honestly the css style thing sass probably a good idea*/
/*so I can make changes more easily*/
/*remember variable syntax: $varname: varValue; then you ccan use $varName wherever*/


/*--------------------------------Vars--------------------*/
$logoDimension: 40px;
$logoBorder: 8px;

$navWidth: 100%;
$navHeight: 50px;

$buttonTextSize: 1.3em;

/*-------------------------------Colors Specifically---------------*/
$accentBackground: #cf3446;
$buttonText: white;
$buttonHover: #e54a5c;
$backgroundColor: #e6a49b;
$borderColor: #a96b00;


//------------------------------some general basics-----------------------------
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
}

#centralSection{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

#centralSection img{
    flex: 1 2 12vw;
    min-width: 0px;
}

main{
    background-color: $backgroundColor;
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    height:$logoDimension;
    width:$logoDimension;
    float:left;
    border-radius: $logoBorder;
}



//-------------------------------------------------------Nav stuff---------------------------------
nav{
    width:$navWidth;
    height:$navHeight;
    background-color: $accentBackground;
}

nav:nth-child(1){
    padding-left: 25px;
}

.navlink{
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color:$buttonText;
    font-size:$buttonTextSize;
    float:left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active{
    color:$buttonText;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: $accentBackground;
    transition: background-color 0.4s ease;
}

.navlink a:hover{
    transition: background-color 0.8s ease;
    background-color: $buttonHover;
}

//----------------------------------------------------Form stuff---------------------------------------
.dragonForm, .mainForm{ 
    border: 2px solid $borderColor;
    height: auto;
    width: 75vw;
    margin-top: 10px;
    padding-top: 10px;
    background-color: $accentBackground;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dragonForm label, .mainForm label{
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: $buttonText;
}

//----------------------------------------------------------Error Message-----------------------
#errorDiv {
    display:none;
    top: 250px;
    width:250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#errorDiv h3{
    width: 200px;
    position:absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height:120px;
    width: 250px;
    z-index: 300;

}

#errorMessage{
    font-size: 1.2em;
    font-weight: bold;
    color: $buttonText;
    font-style: italic;
}