<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Dragon's Lair</title>
        <!--Add the react.js scripts-->
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <!--Add the ajax scripts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
        <!--Add the favicon and the stylesheet-->
        <link rel="shortcut icon" href="/assets/img/favicon.png" />
        <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    </head>
    <body>
        <nav>
            <a href="/login"><img id="logo" src="/assets/img/loginLogo.png" alt="logo"></a>
            <div class="navlink"><a href="/logout">Log out</a></div>
            <div class="navlink"><a href="/maker">Dragon Creator</a></div>
            <div class="navlink"><a href="/user">User Page</a></div>
        </nav>
        <div id="centralSection">
            <img src="assets/img/backgroundImageLeft.png" alt="lava" />
            <main>
                <!--a ton of sections for the the the react to play with goes here-->
                <section id="makeDragon"></section>
                <div id="errorDiv"><img id="speech" src="assets/img/speechBubble.png" alt="speech box" />
                    <h3><span id="errorMessage"></span></h3>
                </div>
                <section id="Dragons"></section>
                <section id="passwordChange"></section>
                <section id="givePremium"></section>
                <script src={{scriptPath}}></script>
            </main>
            <img src="assets/img/backgroundImageRight.png" alt="lava" />
        </div>
    </body>
</html>